# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Dependency directories
node_modules/
package-lock.json


# env files
.env

.DS_Store

# assets
/public/uploads/*.*